@charset "UTF-8";
/******************************************************************
Site Name: Social Welfare History Project
Author: VCU Libraries Digital Engagement Web Dev Team
Stylesheet: Main Stylesheet
******************************************************************/
/*********************
NORMALIZE
*********************/
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none; }

small, .small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px; }

ol,
ul {
  padding: 0;
  list-style-type: none; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLOR VARIABLES
*********************/
/*********************
ANIMATIONS
*********************/
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  100% {
    opacity: 1; } }

/*********************
MIXINS
*********************/
.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

.display-none {
  display: none; }

.visually-hidden {
  position: absolute;
  margin-left: -9999px; }

.no-margin {
  margin: 0; }

/*********************
GRID
*********************/
/*********************
TYPE
*********************/
p {
  line-height: 1.65; }

/*********************
BUTTONS
*********************/
.js-mobile-nav-toggle {
  display: inline-block;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none; }
  .js-mobile-nav-toggle:hover, .js-mobile-nav-toggle:focus {
    text-decoration: none; }

.js-mobile-nav-toggle {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 10px;
  width: 31.0344827586%;
  float: left;
  margin-right: 3.4482758621%;
  font-size: .85em;
  letter-spacing: .125em;
  text-transform: uppercase;
  text-align: center;
  outline: none; }
  .js-mobile-nav-toggle:hover, .js-mobile-nav-toggle:focus {
    background: #f4f4f4; }
  @media (min-width: 769px) {
    .js-mobile-nav-toggle {
      display: none; } }

/*********************
GENERAL STYLESHEET
*********************/
body {
  color: #000;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

main.main {
  zoom: 1; }
  main.main:before, main.main:after {
    content: "";
    display: table; }
  main.main:after {
    clear: both; }
  main.main:focus {
    outline: none; }

.inner-content,
.inner-footer,
.inner-header {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  zoom: 1;
  padding: 0 40px; }
  .inner-content:before, .inner-content:after,
  .inner-footer:before,
  .inner-footer:after,
  .inner-header:before,
  .inner-header:after {
    content: "";
    display: table; }
  .inner-content:after,
  .inner-footer:after,
  .inner-header:after {
    clear: both; }

.entry-content {
  zoom: 1; }
  .entry-content:before, .entry-content:after {
    content: "";
    display: table; }
  .entry-content:after {
    clear: both; }

.featured-items {
  text-align: center;
  zoom: 1; }
  .featured-items:before, .featured-items:after {
    content: "";
    display: table; }
  .featured-items:after {
    clear: both; }

hr {
  outline: none;
  border: 0;
  height: 2px;
  background: #ccc; }

.featured-item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }
  @media (min-width: 769px) {
    .featured-item {
      width: 31.0344827586%;
      float: left;
      margin-bottom: 0; }
      .featured-item:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .featured-item:nth-child(3n + 2) {
        margin-left: 34.4827586207%;
        margin-right: -100%;
        clear: none; }
      .featured-item:nth-child(3n + 3) {
        margin-left: 68.9655172414%;
        margin-right: -100%;
        clear: none; } }
  .featured-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }

img {
  max-width: 100%;
  height: auto; }

figure.alignright,
img.alignright {
  float: right;
  margin: 0 0 1em 1.5em; }

figure.alignleft,
img.alignleft {
  float: left;
  margin: 0 1.5em 1em 0; }

figure.aligncenter,
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #f4f4f4;
  padding: .5em; }

.wp-caption-text {
  font-size: .70em;
  margin-top: 10px; }
  .wp-caption-text a {
    color: #0966a9;
    text-decoration: none; }
    .wp-caption-text a:hover, .wp-caption-text a:focus {
      text-decoration: underline;
      color: #0966a9; }

.author {
  font-size: .80em;
  color: #555; }
  .author a,
  .author a:visited {
    color: #555; }

.category-meta {
  color: #555; }

@media (min-width: 0) and (max-width: 768px) {
  .entry-content .azindex {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .entry-content .azindex ul {
      padding: 0; } }

.entry-content .azindex ul li {
  zoom: 1; }
  .entry-content .azindex ul li:before, .entry-content .azindex ul li:after {
    content: "";
    display: table; }
  .entry-content .azindex ul li:after {
    clear: both; }

.entry-content .azindex ul li + li {
  margin-top: 20px; }

div[id^='azindex-'] {
  clear: both; }

#comments {
  border-top: 2px solid #000;
  padding-top: 20px; }

.commentlist {
  padding-left: 40px;
  font-size: .85em; }

.comment-reply-title {
  margin-top: 40px;
  margin-bottom: 0; }

p.logged-in-as {
  margin: 0; }
  p.logged-in-as a {
    text-decoration: none;
    color: #555; }

.comment-form-comment label {
  display: block;
  font-size: .85em;
  color: #555; }

.comment-form-comment textarea {
  outline: none;
  padding: 10px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  background: #f4f4f4;
  border: 1px solid #dbdada; }
  .comment-form-comment textarea:focus {
    border: 1px solid #a8a7a7; }

.form-submit .submit {
  background: transparent;
  border: 2px solid #dbdada;
  padding: 5px 10px;
  font-size: .85em;
  color: #555;
  transition: background .15s ease-in-out, color .15s ease-in-out; }
  .form-submit .submit:hover, .form-submit .submit:focus {
    background: #f4f4f4;
    color: #000; }

.archive article.post {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 769px) {
    .archive article.post {
      width: 48.275862069%;
      float: left; }
      .archive article.post:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .archive article.post:nth-child(2n + 2) {
        margin-left: 51.724137931%;
        margin-right: -100%;
        clear: none; } }

.cat-archive-wrap {
  zoom: 1; }
  .cat-archive-wrap:before, .cat-archive-wrap:after {
    content: "";
    display: table; }
  .cat-archive-wrap:after {
    clear: both; }

iframe {
  max-width: 100% !important; }

.commentlist li + li {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #f0e6e6; }

.commentlist a.comment-reply-link {
  display: none !important; }
  .commentlist a.comment-reply-link:hover, .commentlist a.comment-reply-link:focus {
    text-decoration: underline; }

.commentlist .comment-author a {
  text-decoration: none; }
  .commentlist .comment-author a:hover, .commentlist .comment-author a:focus {
    text-decoration: underline; }

.commentlist .comment-metadata a {
  color: #555;
  text-decoration: none; }
  .commentlist .comment-metadata a:hover, .commentlist .comment-metadata a:focus {
    text-decoration: underline; }

.reply {
  display: none !important; }
  .reply a.comment-reply-login {
    display: none !important; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #000;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #595959; }
  a:link, a:visited:link {
    -webkit-tap-highlight-color: #595959; }
  .entry-content a, .entry-content a:visited {
    color: #0966a9;
    text-decoration: underline; }
    .entry-content a:hover, .entry-content a:focus, .entry-content a:visited:hover, .entry-content a:visited:focus {
      text-decoration: none; }

.image-portal-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/swhp_bg_link_section.jpg");
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #fff;
  zoom: 1; }
  .image-portal-banner:before, .image-portal-banner:after {
    content: "";
    display: table; }
  .image-portal-banner:after {
    clear: both; }
  .image-portal-banner ul li {
    display: inline-block;
    color: #fff; }
  .image-portal-banner svg {
    width: 3rem;
    vertical-align: middle;
    margin-right: .5rem; }
  .image-portal-banner p {
    margin: 0;
    text-align: center; }
    @media (min-width: 769px) {
      .image-portal-banner p {
        text-align: left;
        width: 56.8965517241%;
        float: left;
        margin-right: 3.4482758621%;
        display: inline-block; } }
  .image-portal-banner a {
    display: grid;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: solid 2px #fff;
    margin-top: 1rem;
    transition: background .25s ease-in-out, color .25s ease-in-out; }
    @media (min-width: 769px) {
      .image-portal-banner a {
        display: inline-block;
        margin-top: 0;
        width: 31.0344827586%;
        float: right;
        margin-right: 0; } }
    .image-portal-banner a:hover, .image-portal-banner a:focus {
      background: #fff; }
      .image-portal-banner a:hover ul li, .image-portal-banner a:focus ul li {
        color: #000; }
        .image-portal-banner a:hover ul li .st7, .image-portal-banner a:focus ul li .st7 {
          fill: #000 !important; }

.featured-item a {
  text-decoration: none; }

.azindex li > a, .azlink a, .azlinknav a {
  color: #0966a9; }

a.excerpt-read-more {
  margin: 0;
  text-decoration: none;
  color: #0966a9; }
  a.excerpt-read-more:focus, a.excerpt-read-more:hover {
    text-decoration: underline; }

.search header.entry-header a, .archive header.entry-header a {
  color: #0966a9; }

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999; }

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 3px solid #febe0e;
  text-align: center;
  font-size: 1.2em;
  z-index: 999; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 700; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }
    h1 a:hover, h1 a:focus, .h1 a:hover, .h1 a:focus, h2 a:hover, h2 a:focus, .h2 a:hover, .h2 a:focus, h3 a:hover, h3 a:focus, .h3 a:hover, .h3 a:focus, h4 a:hover, h4 a:focus, .h4 a:hover, .h4 a:focus, h5 a:hover, h5 a:focus, .h5 a:hover, .h5 a:focus {
      text-decoration: underline; }

h1, .h1 {
  font-size: 2.0em;
  margin: 0.67em 0;
  line-height: 1.333em; }

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em; }

h3, .h3 {
  font-size: 1.35em; }

h4, .h4 {
  font-size: 1.1em; }

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px; }

.entry-title, .single-title {
  margin-bottom: 0; }

/*********************
HEADER STYLES
*********************/
#logo {
  width: 48.275862069%;
  float: left;
  margin-right: 3.4482758621%;
  margin-bottom: 0; }
  @media (min-width: 0) and (max-width: 768px) {
    #logo {
      margin-left: 8.6206896552%;
      width: 82.7586206897%;
      float: left;
      margin-right: 3.4482758621%;
      margin-left: 8.6206896552%;
      margin-bottom: 20px; } }

.inner-header {
  position: relative; }
  .inner-header .search {
    width: 65.5172413793%;
    float: right;
    margin-right: 0;
    text-align: right;
    position: relative; }
    .inner-header .search input {
      background: #f4f4f4;
      border: none;
      padding: 10px 15px;
      font-size: .8em; }
    .inner-header .search button {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      top: 5px; }
    @media (min-width: 0) and (max-width: 768px) {
      .inner-header .search label {
        height: 0px;
        overflow: hidden;
        position: fixed; } }
    @media (min-width: 769px) {
      .inner-header .search {
        width: 48.275862069%;
        float: right;
        margin-right: 0;
        top: 1.5vw;
        right: 0; }
        .inner-header .search input {
          width: 50%; }
        .inner-header .search button {
          left: -40px;
          top: 0;
          position: relative; } }

.featured-header {
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 40px; }
  .featured-header h3 {
    margin: 5px 0; }

.giving_link {
  width: 13.7931034483%;
  float: right;
  margin-right: 0;
  display: inline-block;
  color: black;
  font-size: 1.1rem;
  padding: .75rem;
  background-color: #f7a800;
  text-align: center;
  border-radius: 0 0 12px 12px;
  text-decoration: none;
  transition: background .25s ease-in-out, color .25s ease-in-out; }
  .giving_link:hover {
    background-color: #ffb821;
    box-shadow: inset 0 0 5px #de9700;
    color: black; }
  .giving_link:visited {
    color: black; }
  @media (min-width: 0) and (max-width: 768px) {
    .giving_link {
      display: none; } }

.swhp-giving-banner {
  background-color: #F7A800;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px; }

.swhp-giving-banner--col {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .swhp-giving-banner--col p {
    margin: 0 2rem 0 7vw;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    padding: 1rem 0; }

.swhp-giving-banner--text__big {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3; }

.swhp-giving-banner--button {
  display: block;
  padding: .75rem 3rem;
  border-radius: 5px;
  background-color: #000;
  color: #FFF;
  margin: 0 7vw 0 2rem;
  max-width: 200px;
  text-align: center; }

.swhp-giving-banner--button:visited {
  color: #FFF; }

.swhp-giving-banner--button:hover {
  color: #F7A800;
  background-color: #0d0d0d; }

@media (max-width: 767px) {
  .swhp-giving-banner {
    grid-template-columns: auto; }
  .swhp-giving-banner--button {
    max-width: 100%;
    margin: 0 7vw 1rem; } }

.vcu-branding-bar__container .vcu-branding-bar__link-wrap {
  margin-top: 0 !important; }

/*********************
NAVIGATION STYLES
*********************/
.main-nav {
  padding: 0;
  margin: 0;
  display: none; }
  @media (min-width: 0) and (max-width: 768px) {
    .main-nav {
      padding-bottom: 20px; } }
  @media (min-width: 769px) {
    .main-nav {
      display: block; } }

.nav {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .0185em;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  zoom: 1;
  /* end .nav li */
  /* highlight current page */ }
  .nav:before, .nav:after {
    content: "";
    display: table; }
  .nav:after {
    clear: both; }
  @media (min-width: 769px) {
    .nav {
      margin: 5px 0 20px 0; } }
  @media (min-width: 0) and (max-width: 768px) {
    .nav li {
      padding: 10px 0; } }
  @media (min-width: 769px) {
    .nav li {
      display: inline-block;
      height: 60px; } }
  .nav li.menu-item-has-children {
    padding-right: .5em; }
    .nav li.menu-item-has-children:after {
      content: '>';
      display: block;
      font-weight: 800;
      position: relative;
      float: right;
      top: -23px;
      right: -2px;
      font-size: 12px;
      color: #555;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: -webkit-transform .15s ease-in-out, color .15s ease-in-out;
      transition: transform .15s ease-in-out, color .15s ease-in-out; }
  .nav li a {
    display: block;
    text-decoration: none;
    padding: 0 .75em 0 .75em;
    color: #000;
    transition: color .15s ease-in-out; }
    @media (min-width: 769px) {
      .nav li a {
        padding: 1.155em .75em 0 .75em; } }
    .nav li a:hover, .nav li a:focus {
      color: #0966a9; }
      .nav li a:hover + ul.sub-menu, .nav li a:hover ul.children, .nav li a:focus + ul.sub-menu, .nav li a:focus ul.children {
        display: block; }
  .nav li ul.sub-menu,
  .nav li ul.children {
    display: none;
    border-top: 1px solid #000;
    margin-top: 17px;
    padding: 10px 0 15px 0;
    background: #fff;
    z-index: 99;
    text-transform: none;
    position: absolute;
    left: 0;
    background: #f4f4f4; }
    @media (min-width: 0) and (max-width: 768px) {
      .nav li ul.sub-menu,
      .nav li ul.children {
        width: 100%;
        margin-top: 10px; } }
    .nav li ul.sub-menu li,
    .nav li ul.children li {
      height: auto; }
      .nav li ul.sub-menu li a,
      .nav li ul.children li a {
        display: inline-block;
        padding: .2em .45em;
        font-size: 0.90em; }
  .nav li:hover, .nav li:focus {
    background: #f4f4f4; }
    .nav li:hover ul.sub-menu,
    .nav li:hover ul.children, .nav li:focus ul.sub-menu,
    .nav li:focus ul.children {
      display: block; }
    .nav li:hover.menu-item-has-children:after, .nav li:focus.menu-item-has-children:after {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      color: #0966a9; }

/* end .nav */
.pagination, .wp-prev-next {
  margin: 1.5em 0; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    background-color: #fff;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px; }
  .pagination li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #ccc; }
    .pagination li:last-child, .pagination li:first-child {
      border: none; }
    .pagination li:first-child {
      border-right: 1px solid #ccc; }
  .pagination a, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #555; }
    .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
      background-color: #000;
      color: #fff; }
  .pagination .current {
    cursor: default;
    color: #ccc; }
    .pagination .current:hover, .pagination .current:focus {
      background: transparent;
      color: #ccc; }

.wp-prev-next .prev-link {
  float: left; }

.wp-prev-next .next-link {
  float: right; }

/*********************
FOOTER
*********************/
.footer-nav {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 769px) {
    .footer-nav {
      width: 31.0344827586%;
      float: left;
      margin-right: 3.4482758621%; } }

.footer {
  zoom: 1;
  background: #000;
  color: #fff;
  padding: 40px 0;
  margin-top: 40px; }
  .footer:before, .footer:after {
    content: "";
    display: table; }
  .footer:after {
    clear: both; }
  .footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent; }
    .footer a:focus, .footer a:hover {
      color: #fff;
      border-bottom: 2px solid #fff; }

.img-portal {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 769px) {
    .img-portal {
      width: 31.0344827586%;
      float: left;
      margin-right: 3.4482758621%; } }
  .img-portal a {
    display: inline-block; }
  .img-portal svg {
    max-width: 100%;
    height: auto;
    width: 150px;
    display: block; }

.footer-creds {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 769px) {
    .footer-creds {
      width: 31.0344827586%;
      float: right;
      margin-right: 0; } }
  .footer-creds svg {
    width: 100%;
    max-width: 200px;
    height: auto; }

.bottom-footer {
  text-align: center;
  color: #0966a9; }
  .bottom-footer li {
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif; }
  .bottom-footer a {
    color: #0966a9;
    display: inline-block;
    text-decoration: none; }

.contact-us-link {
  text-decoration: underline !important; }
  .contact-us-link:hover {
    text-decoration: none !important; }

.jetpack_subscription_widget .widgettitle {
  font-size: 1em; }

.jetpack_subscription_widget p {
  font-size: 75%; }

.jetpack_subscription_widget input {
  border: none;
  padding: 5px 7px; }

/******************************************************************
SEARCH STYLES
******************************************************************/
.search header h3 {
  margin-bottom: 0; }

.search .entry-content > p {
  margin-bottom: 10px; }

main .search-results {
  zoom: 1; }
  main .search-results:before, main .search-results:after {
    content: "";
    display: table; }
  main .search-results:after {
    clear: both; }
  main .search-results article {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px; }
    @media (min-width: 769px) {
      main .search-results article {
        width: 48.275862069%;
        float: left; }
        main .search-results article:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        main .search-results article:nth-child(2n + 2) {
          margin-left: 51.724137931%;
          margin-right: -100%;
          clear: none; } }

/*********************
SLIDER STYLES
*********************/
/**
 * wallop.css
 *
 * @fileoverview Default styles for wallop – recommended
 *
 * @author Pedro Duarte
 * @author http://pedroduarte.me/wallop
 */
/*
  This is the top-level selector

  It should be relative positioned
  to allow the children to be positioned absolutely
  relative to this
 */
.slider-wrap {
  position: relative; }

/*
  This element groups all the items, but not the buttons

  It's a recommendation but it's very likely
  you'll want to hide any overflow from the items
  Especially when doing animations such as scale
 */
.slider-list {
  position: relative;
  overflow: hidden; }

/*
  This is the item element

  By default, they are all hidden and
  positioned absolute
  I recommend always having .slide--current
  in your markup by default (probably on the first element)
 */
.slide {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 43.75%;
  background-size: cover;
  background-position: center center; }
  .slide.big-slide {
    padding-top: 62.5%; }

.slide-current {
  visibility: visible;
  position: relative; }

.slide-current {
  opacity: 0;
  -webkit-animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: fadeIn 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

.slide-fade .slide-hidePrevious,
.slide-fade .slide-hideNext {
  visibility: visible; }

.slide-fade .slide-hideNext {
  z-index: -1; }

.slider-dots-wrap {
  width: 25%;
  text-align: center;
  position: absolute;
  margin-top: -40px;
  font-size: 14px;
  display: none; }
  @media (min-width: 769px) {
    .slider-dots-wrap {
      display: inline-block; } }
  .slider-dots-wrap li {
    display: inline-block;
    margin-right: 10px; }
    .slider-dots-wrap li span {
      color: #fff;
      opacity: .45; }
      .slider-dots-wrap li span:hover, .slider-dots-wrap li span:focus {
        cursor: pointer;
        color: #0966a9;
        opacity: 1; }
    .slider-dots-wrap li:last-child {
      margin: 0; }
    .slider-dots-wrap li.slider-dot-current span {
      opacity: 1; }

.flex-2-col .slider-dots-wrap {
  width: 50%;
  right: 0;
  bottom: 20px; }

.slide-excerpt-wrap {
  color: #fff;
  display: block;
  visibility: hidden;
  font-size: 16px;
  zoom: 1; }
  .slide-excerpt-wrap:before, .slide-excerpt-wrap:after {
    content: "";
    display: table; }
  .slide-excerpt-wrap:after {
    clear: both; }
  @media (min-width: 769px) {
    .slide-excerpt-wrap {
      padding: 20px 30px; } }
  .slide-current .slide-excerpt-wrap {
    visibility: visible; }
  .slide-excerpt-wrap .slide-button > a {
    margin-top: 10px;
    background: none;
    display: block;
    width: 100%;
    color: #fff;
    padding: 15px;
    border: 2px solid #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background .25s ease-in-out, color .25s ease-in-out; }
    .slide-excerpt-wrap .slide-button > a:hover, .slide-excerpt-wrap .slide-button > a:focus {
      background: #fff;
      color: #000; }
    @media (min-width: 769px) {
      .slide-excerpt-wrap .slide-button > a {
        margin-top: 40px; } }

.slide-headline {
  margin: 0; }
  @media (min-width: 769px) {
    .slide-headline {
      margin: 10px 0; } }

.slide-excerpt {
  display: none; }
  @media (min-width: 769px) {
    .slide-excerpt {
      display: block; } }

.slide-inner {
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  padding: 10px 20px 20px 20px; }
  @media (min-width: 769px) {
    .slide-inner {
      position: absolute;
      top: 0;
      width: 25%;
      padding: 10px 25px 40px 25px; } }

@media print {
  /*********************
PRINT STYLESHEET
*********************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
